*.log
*.strings

*.dll
*.exe

*.pyc
*.pyo

nvda/addOn/doc/*.css
nvda/addon/doc/en/
nvda/*.py[co]
nvda/*.nvda-addon
nvda/addon/manifest.ini

*_docHandler.py
*.htm
*.html
*.ini
*.mo
*.pot
*.pdf

*.nvda-addon
nvda/.sconsign.dblite